:root {
  --color-beaver: #9e7f66;
  --color-cod-gray: #111111;
  --color-mirage: #17192b;
  --color-ebony-clay: #242b37;
  --color-shuttle-gray: #5c6779;
  --color-dark-gray: #4c4c4c;
  --color-white: #fff;
  --color-error: #b54949;
}
