//Container
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
}

//Button
.button,
%button {
  display: inline-block;
  font-size: 1.2rem;
  letter-spacing: 0.06rem;
  text-transform: uppercase;
  color: var(--color-white);
  padding: 20px 60px;
  border: 2px solid var(--color-white);
  transition: 0.2s;

  &:hover {
    background: var(--color-white);
    color: var(--color-cod-gray);
  }

  &--dark {
    @extend %button;
    background: var(--color-cod-gray);
    border-color: var(--color-cod-gray);
  }
}

//Animation
@keyframes show {
  from {
    opacity: 0.5;
  }

  to {
    opacity: 1;
  }
}
