@use '../globals/typography' as *;
@use '../globals/util' as *;

.middle-bg {
  background-color: var(--color-white);
  background-image: url('.././images/patterns/pattern-curve-top-right.svg'),
    url('.././images/patterns/pattern-curve-top-left.svg');
  background-repeat: no-repeat;
  background-position-y: 248px, bottom;
  background-position-x: left, right;
}

.middle {
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;

    &--enjoyable .middle__image {
      position: relative;
      top: -80px;
    }

    &--locally {
      flex-direction: row-reverse;
      position: relative;
      bottom: -80px;

      &::after {
        content: '';
        position: absolute;
        background: url('.././images/patterns/pattern-lines.svg') no-repeat
          center center;
        width: 160px;
        height: 76px;
        top: 268px;
        right: -40px;
      }
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: start;

    & h2 {
      @include h2(var(--color-mirage));
      max-width: 14ch;
      margin-bottom: 42px;
    }

    & p {
      @include paragraph(var(--color-cod-gray));
    }

    &::before {
      display: block;
      content: '';
      position: relative;
      background: url('.././images/patterns/pattern-divide.svg') no-repeat
        center center;
      width: 71px;
      height: 7px;
      top: -60px;
    }
  }

  &__image {
    box-shadow: 0 0 200px rgba(0, 0, 0, 0.3);
  }
}

@include breakpoit(large) {
  .middle-bg {
    background-position-x: -360px, 360px;
  }

  .middle__content {
    flex-direction: column;

    &--locally {
      bottom: 0px;

      .middle__image {
        margin-bottom: 80px;
      }
    }
  }

  .middle__text {
    align-items: center;
    text-align: center;

    p {
      margin-bottom: 80px;
    }

    &::before {
      margin: 0 auto;
    }
  }

  .middle__image {
    width: 100%;

    img {
      width: 100%;
      height: 360px;
      object-fit: cover;
      object-position: top;
    }
  }
}

@include breakpoit(medium) {
  .middle-bg {
    background-position-x: -600px, 200px;
  }

  .middle__content {
    gap: 0px;

    &--locally::after {
      display: none;
    }
  }

  .middle__text {
    h2 {
      margin-bottom: 12px;
    }

    p {
      margin-bottom: 36px;
    }

    &::before {
      top: -32px;
    }
  }

  .middle__image img {
    height: 260px;
  }
}
